@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;

700;900&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-alert:before {
  content: "\e900";
}

._icon-alert_octagon:before {
  content: "\e902";
}

._icon-attach:before {
  content: "\e903";
}

._icon-back:before {
  content: "\e904";
}

._icon-behance:before {
  content: "\e905";
}

._icon-bell:before {
  content: "\e909";
}

._icon-block:before {
  content: "\e90a";
}

._icon-bottom_left:before {
  content: "\e90b";
}

._icon-bottom_right:before {
  content: "\e90c";
}

._icon-burger_menu:before {
  content: "\e90d";
}

._icon-calendar:before {
  content: "\e90e";
}

._icon-chat:before {
  content: "\e90f";
}

._icon-check:before {
  content: "\e910";
}

._icon-check_round:before {
  content: "\e911";
}

._icon-clock:before {
  content: "\e912";
}

._icon-close_round:before {
  content: "\e913";
}

._icon-closed_eye:before {
  content: "\e914";
}

._icon-comment:before {
  content: "\e915";
}

._icon-convert:before {
  content: "\e916";
}

._icon-cross:before {
  content: "\e917";
}

._icon-danger:before {
  content: "\e918";
}

._icon-down:before {
  content: "\e919";
}

._icon-down_chevron:before {
  content: "\e91a";
}

._icon-envelope_opened:before {
  content: "\e91b";
}

._icon-expand:before {
  content: "\e91c";
}

._icon-external_link:before {
  content: "\e91d";
}

._icon-eye:before {
  content: "\e91e";
}

._icon-facebook:before {
  content: "\e91f";
}

._icon-files:before {
  content: "\e920";
}

._icon-fluid_vertical:before {
  content: "\e921";
}

._icon-fluid-horizontal:before {
  content: "\e922";
}

._icon-forward:before {
  content: "\e923";
}

._icon-google:before {
  content: "\e924";
}

._icon-grid:before {
  content: "\e925";
}

._icon-heart:before {
  content: "\e926";
}

._icon-history:before {
  content: "\e927";
}

._icon-home:before {
  content: "\e928";
}

._icon-horizontal:before {
  content: "\e929";
}

._icon-info:before {
  content: "\e92a";
}

._icon-instagram:before {
  content: "\e92b";
}

._icon-iphone:before {
  content: "\e92c";
}

._icon-layouts:before {
  content: "\e92d";
}

._icon-left:before {
  content: "\e92e";
}

._icon-left_chevron:before {
  content: "\e92f";
}

._icon-linked_in:before {
  content: "\e930";
}

._icon-list:before {
  content: "\e931";
}

._icon-lock:before {
  content: "\e932";
}

._icon-login:before {
  content: "\e933";
}

._icon-logout:before {
  content: "\e934";
}

._icon-mail:before {
  content: "\e935";
}

._icon-mark:before {
  content: "\e936";
}

._icon-mention:before {
  content: "\e937";
}

._icon-messanger:before {
  content: "\e938";
}

._icon-mic:before {
  content: "\e939";
}

._icon-minus1:before {
  content: "\e93a";
}

._icon-minus_round:before {
  content: "\e93b";
}

._icon-off:before {
  content: "\e93c";
}

._icon-on:before {
  content: "\e93d";
}

._icon-outline:before {
  content: "\e93e";
}

._icon-play:before {
  content: "\e93f";
}

._icon-plus1:before {
  content: "\e940";
}

._icon-plus_round:before {
  content: "\e941";
}

._icon-profile:before {
  content: "\e942";
}

._icon-right:before {
  content: "\e943";
}

._icon-right_chevron:before {
  content: "\e944";
}

._icon-search1:before {
  content: "\e945";
}

._icon-share:before {
  content: "\e946";
}

._icon-share_arrow:before {
  content: "\e947";
}

._icon-shield:before {
  content: "\e948";
}

._icon-solid:before {
  content: "\e949";
}

._icon-star:before {
  content: "\e94a";
}

._icon-telegram:before {
  content: "\e94b";
}

._icon-top_left:before {
  content: "\e94c";
}

._icon-top_right:before {
  content: "\e94d";
}

._icon-twitter:before {
  content: "\e94e";
}

._icon-unlock:before {
  content: "\e94f";
}

._icon-up:before {
  content: "\e950";
}

._icon-up_chevron:before {
  content: "\e951";
}

._icon-up_down_select:before {
  content: "\e952";
}

._icon-upload:before {
  content: "\e953";
}

._icon-vertical:before {
  content: "\e954";
}

._icon-viber:before {
  content: "\e955";
}

._icon-whatsapp:before {
  content: "\e956";
}

._icon-youtube:before {
  content: "\e957";
}

._icon-arrow_slide:before {
  content: "\e901";
}

._icon-minus:before {
  content: "\e906";
}

._icon-plus:before {
  content: "\e907";
}

._icon-search:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424551;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 2.5rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0.5px;
}

.button._fw {
  width: 100%;
}

.button--regular {
  font-size: 0.875rem;
  padding: 0.9375rem 2rem;
}

.button--small {
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
}

.border-button {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.25rem 2.5rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(251, 90, 44);
  background: -webkit-gradient(linear, left top, right top, from(#ff3f3a), to(#f75e05)) left top/100% 0.125rem no-repeat, -webkit-gradient(linear, left top, right top, from(#ff3f3a), to(#f75e05)) left bottom/100% 0.125rem no-repeat;
  background: linear-gradient(to right, #ff3f3a 0%, #f75e05 100%) left top/100% 0.125rem no-repeat, linear-gradient(to right, #ff3f3a 0%, #f75e05 100%) left bottom/100% 0.125rem no-repeat;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.border-button::before,
.border-button::after {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 100%;
  top: 0;
}

.border-button::before {
  left: 0;
  border: 0.125rem solid #ff3f3a;
  border-right: none;
  border-radius: 4px 0px 0px 4px;
}

.border-button::after {
  right: 0;
  border: 0.125rem solid #ff3f3a;
  border-left: none;
  border-radius: 0px 4px 4px 0px;
}

.border-button--regular {
  font-size: 0.875rem;
  padding: 0.9375rem 2rem;
}

.border-button--small {
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 900;
  line-height: 130%;
  color: #1e212c;
}

.subtitle {
  font-weight: 700;
  line-height: 150%;
  /* 24px */
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  margin-bottom: 0px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.75rem;
}

.header__logo {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15.447154%;
          flex: 0 0 15.447154%;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
}

.menu__link {
  position: relative;
  font-weight: 700;
  line-height: 160%;
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #f75e05;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.7s ease 0s;
  transition: -webkit-transform 0.7s ease 0s;
  transition: transform 0.7s ease 0s;
  transition: transform 0.7s ease 0s, -webkit-transform 0.7s ease 0s;
}

.action-header {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-header__button {
  display: block;
}

.action-header__login {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 160%;
  gap: 0.3125rem;
}

.action-header__in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.icon-menu {
  display: none;
}

.main {
  position: relative;
  padding: 12.5rem 0px 5rem 0px;
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.main__container {
  position: relative;
  z-index: 2;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11.8125rem;
}

.content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 40px;
}

.content-main__play {
  position: relative;
  color: #1e212c;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.content-main__play::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.25rem;
          flex: 0 0 3.25rem;
  background: #ff3f3a url(../img/main/play.svg) 20px/16px 16px no-repeat;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
}

.content-main__play::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #ff3f3a;
  opacity: 0.12;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation: play-circle 2s infinite ease;
          animation: play-circle 2s infinite ease;
}

.content-main__title {
  color: #1e212c;
  font-weight: 900;
  line-height: 130%;
  /* 83.2px */
  letter-spacing: 1px;
}

.content-main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.advantages-main {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages-main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  color: #1e212c;
}

.item-advantages__value {
  font-weight: 900;
  line-height: 1.3;
}

.item-advantages__text {
  line-height: 1.6;
}

.decor-main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.decor-main__item {
  position: absolute;
}

.decor-main__item--1 {
  background: url("../img/main/decor_1.svg") 0 0 no-repeat;
  width: 248px;
  height: 284px;
  top: 83%;
  left: -5.8%;
}

.decor-main__item--2 {
  background: url("../img/main/decor_2.svg") 0 0 no-repeat;
  width: 96px;
  height: 96px;
  top: 12%;
  left: 4.2%;
}

.decor-main__item--3 {
  background: url("../img/main/decor_3.svg") 0 0 no-repeat;
  width: 88px;
  height: 47px;
  top: 45%;
  left: 40%;
}

.decor-main__item--4 {
  background: url("../img/main/decor_4.svg") 0 0 no-repeat;
  width: 61px;
  height: 61px;
  top: 70%;
  left: 38%;
}

.decor-main__item--5 {
  background: url("../img/main/decor_5.svg") 0 0 no-repeat;
  width: 187px;
  height: 137px;
  top: 69%;
  right: -1.5%;
}

.decor-main__item--6 {
  background: url("../img/main/decor_2.svg") 0 0 no-repeat;
  width: 96px;
  height: 96px;
  top: -1.5%;
  right: 7.7px;
  -webkit-transform: rotate(136deg);
      -ms-transform: rotate(136deg);
          transform: rotate(136deg);
}

.media-main img {
  max-width: 100%;
}

@-webkit-keyframes play-circle {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes play-circle {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

.why {
  position: relative;
}

.why__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__image {
  position: relative;
  z-index: 2;
}

.why__image img {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.content-why__subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}

.content-why__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.content-why__list {
  position: relative;
  z-index: 2;
  max-width: 24.375rem;
}

.content-why__list:not(:last-child) {
  margin-bottom: 3rem;
}

.content-why__item {
  position: relative;
  color: #424551;
  line-height: 160%;
  padding-left: 31px;
}

.content-why__item:not(:last-child) {
  margin-bottom: 0.75rem;
}

.content-why__item::before {
  content: "";
  background: url(../img/why/check.svg) 0 0 no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 6px;
  left: 0;
}

.content-why-decore {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content-why-decore__item {
  position: absolute;
}

.content-why-decore__item--1 {
  background: url("../img/why/why_decor_1.svg") 0 0 no-repeat;
  width: 218px;
  height: 227px;
  -webkit-transform: rotate(181deg);
      -ms-transform: rotate(181deg);
          transform: rotate(181deg);
  top: 12.8%;
  left: -5.5%;
}

.content-why-decore__item--2 {
  background: url("../img/why/why_decor_2.svg") 0 0 no-repeat;
  width: 288px;
  height: 288px;
  top: 48%;
  right: -9%;
}

.featured-courses__subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}

.featured-courses__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.featured-courses__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.featured-courses__link:not(:last-child) {
  margin-bottom: 2.5rem;
}

.featured-courses__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

.item-featured-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 37.5rem;
}

.item-featured-courses__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.375rem;
          flex: 0 0 13.375rem;
  padding-bottom: 100%;
}

.item-featured-courses__image-ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-featured-courses__body {
  padding-top: 2rem;
  padding-right: 0.625rem;
  padding-bottom: 0.625rem;
}

.item-featured-courses__labes {
  display: inline-block;
}

.item-featured-courses__label {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #fff;
  font-size: 0.875rem;
  line-height: 150%;
}

.item-featured-courses__label--marketing {
  background-color: #03cea4;
}

.item-featured-courses__desc {
  color: #1e212c;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  /* 30px */
}

.item-featured-courses__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-featured-courses__price {
  color: #ff4242;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
}

.item-featured-courses__border {
  color: #787a80;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.item-featured-courses__name {
  color: #787a80;
  line-height: 150%;
  /* 27px */
}

@media (min-width: 37.8125em) {
  .advantages-main__circle {
    background: #ff3f3a;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0.5rem;
            flex: 0 0 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }
}

@media (min-width: 61.99875em) {
  .content-main {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (min-width: 78.75em) {
  .title {
    font-size: 2.875rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .action-header {
    -webkit-column-gap: 2.25rem;
       -moz-column-gap: 2.25rem;
            column-gap: 2.25rem;
  }

  .main {
    margin-bottom: 11.25rem;
  }

  .main__body {
    margin-bottom: 11.8125rem;
  }

  .content-main__play:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .content-main__title {
    font-size: 4rem;
  }

  .content-main__title:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .advantages-main {
    gap: 1.25rem;
  }

  .item-advantages__value {
    font-size: 2.875rem;
  }

  .item-advantages__text {
    font-size: 1rem;
  }

  .why {
    margin-bottom: 11.8125rem;
  }

  .why__container {
    -webkit-column-gap: 8.4375rem;
       -moz-column-gap: 8.4375rem;
            column-gap: 8.4375rem;
  }

  .featured-courses {
    margin-bottom: 11.25rem;
  }

  .item-featured-courses__body {
    padding-top: 2rem;
  }

  .item-featured-courses__labes:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-featured-courses__desc {
    font-size: 1.25rem;
  }

  .item-featured-courses__desc:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-featured-courses__price {
    font-size: 1.125rem;
  }

  .item-featured-courses__name {
    font-size: 1.125rem;
  }
}

@media (min-width: 35em) and (min-width: 78.75em) {
  .action-header__button {
    padding-top: 1.25rem;
  }

  .action-header__button {
    padding-right: 2.5rem;
  }

  .action-header__button {
    padding-bottom: 1.25rem;
  }

  .action-header__button {
    padding-left: 2.5rem;
  }
}

@media (max-width: 25em) {
  .menu__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .action-header__button {
    margin: 0 auto;
    margin-bottom: 1.25rem;
    font-size: 1rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.625rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .action-header {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .main {
    margin-bottom: 3.125rem;
  }

  .main__body {
    margin-bottom: 3.125rem;
  }

  .content-main__play:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-main__title {
    font-size: 1.5rem;
  }

  .content-main__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .advantages-main {
    gap: 0.625rem;
  }

  .item-advantages__value {
    font-size: 1.625rem;
  }

  .item-advantages__text {
    font-size: 0.875rem;
  }

  .why {
    margin-bottom: 3.125rem;
  }

  .why__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .featured-courses {
    margin-bottom: 3.125rem;
  }

  .item-featured-courses__body {
    padding-top: 0.625rem;
  }

  .item-featured-courses__labes:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .item-featured-courses__desc {
    font-size: 1rem;
  }

  .item-featured-courses__desc:not(:last-child) {
    margin-bottom: 0.3125rem;
  }

  .item-featured-courses__price {
    font-size: 0.875rem;
  }

  .item-featured-courses__name {
    font-size: 0.875rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    background-color: #d7c9c0;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 1.25rem;
  }

  .menu__link {
    font-size: 1.125rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .content-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-right: 0;
  }

  .media-main {
    display: none;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 55.6875em) {
  .advantages-main__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.75rem;
  }
}

@media (max-width: 47.99875em) {
  .why__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .why__image {
    text-align: center;
  }

  .why__image:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .content-why__list {
    max-width: 100%;
  }
}

@media (max-width: 29.875em) {
  .content-main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-main__button:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .item-featured-courses__body {
    padding-left: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 78.75em) {
@supports (font-size: clamp( 1.625rem , 1.1994680851rem  +  2.1276595745vw , 2.875rem )) {
    .title {
      font-size: clamp( 1.625rem , 1.1994680851rem  +  2.1276595745vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.1994680851rem  +  2.1276595745vw , 2.875rem )) {
    .title {
      font-size: calc(1.625rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.75);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.75);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem )) or (column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem ))) {
    .action-header {
      -webkit-column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem );
         -moz-column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem );
              column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem )) or (column-gap: clamp( 0.625rem , 0.0718085106rem  +  2.7659574468vw , 2.25rem ))) {
    .action-header {
      -webkit-column-gap: calc(0.625rem + 1.625 * (100vw - 20rem) / 58.75);
         -moz-column-gap: calc(0.625rem + 1.625 * (100vw - 20rem) / 58.75);
              column-gap: calc(0.625rem + 1.625 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 0.3590425532rem  +  13.829787234vw , 11.25rem )) {
    .main {
      margin-bottom: clamp( 3.125rem , 0.3590425532rem  +  13.829787234vw , 11.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 0.3590425532rem  +  13.829787234vw , 11.25rem )) {
    .main {
      margin-bottom: calc(3.125rem + 8.125 * (100vw - 20rem) / 58.75);
    }
}

@supports ( margin-bottom: clamp( 3.125rem , 0.1675531915rem  +  14.7872340426vw , 11.8125rem )) {
    .main__body {
      margin-bottom: clamp( 3.125rem , 0.1675531915rem  +  14.7872340426vw , 11.8125rem );
    }
}

@supports not ( margin-bottom: clamp( 3.125rem , 0.1675531915rem  +  14.7872340426vw , 11.8125rem )) {
    .main__body {
      margin-bottom: calc(3.125rem + 8.6875 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .content-main__play:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .content-main__play:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.5rem , 0.6489361702rem  +  4.2553191489vw , 4rem )) {
    .content-main__title {
      font-size: clamp( 1.5rem , 0.6489361702rem  +  4.2553191489vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.6489361702rem  +  4.2553191489vw , 4rem )) {
    .content-main__title {
      font-size: calc(1.5rem + 2.5 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.3989361702rem  +  4.2553191489vw , 3.75rem )) {
    .content-main__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.3989361702rem  +  4.2553191489vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.3989361702rem  +  4.2553191489vw , 3.75rem )) {
    .content-main__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 58.75);
    }
}

@supports (gap: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem )) {
    .advantages-main {
      gap: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem )) {
    .advantages-main {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 58.75);
    }
}

@supports (font-size: clamp( 1.625rem , 1.1994680851rem  +  2.1276595745vw , 2.875rem )) {
    .item-advantages__value {
      font-size: clamp( 1.625rem , 1.1994680851rem  +  2.1276595745vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.1994680851rem  +  2.1276595745vw , 2.875rem )) {
    .item-advantages__value {
      font-size: calc(1.625rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8324468085rem  +  0.2127659574vw , 1rem )) {
    .item-advantages__text {
      font-size: clamp( 0.875rem , 0.8324468085rem  +  0.2127659574vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8324468085rem  +  0.2127659574vw , 1rem )) {
    .item-advantages__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 58.75);
    }
}

@supports ( margin-bottom: clamp( 3.125rem , 0.1675531915rem  +  14.7872340426vw , 11.8125rem )) {
    .why {
      margin-bottom: clamp( 3.125rem , 0.1675531915rem  +  14.7872340426vw , 11.8125rem );
    }
}

@supports not ( margin-bottom: clamp( 3.125rem , 0.1675531915rem  +  14.7872340426vw , 11.8125rem )) {
    .why {
      margin-bottom: calc(3.125rem + 8.6875 * (100vw - 20rem) / 58.75);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.1968085106rem  +  12.2340425532vw , 8.4375rem )) or (column-gap: clamp( 1.25rem , -1.1968085106rem  +  12.2340425532vw , 8.4375rem ))) {
    .why__container {
      -webkit-column-gap: clamp( 1.25rem , -1.1968085106rem  +  12.2340425532vw , 8.4375rem );
         -moz-column-gap: clamp( 1.25rem , -1.1968085106rem  +  12.2340425532vw , 8.4375rem );
              column-gap: clamp( 1.25rem , -1.1968085106rem  +  12.2340425532vw , 8.4375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.1968085106rem  +  12.2340425532vw , 8.4375rem )) or (column-gap: clamp( 1.25rem , -1.1968085106rem  +  12.2340425532vw , 8.4375rem ))) {
    .why__container {
      -webkit-column-gap: calc(1.25rem + 7.1875 * (100vw - 20rem) / 58.75);
         -moz-column-gap: calc(1.25rem + 7.1875 * (100vw - 20rem) / 58.75);
              column-gap: calc(1.25rem + 7.1875 * (100vw - 20rem) / 58.75);
    }
}

@supports ( margin-bottom: clamp( 3.125rem , 0.3590425532rem  +  13.829787234vw , 11.25rem )) {
    .featured-courses {
      margin-bottom: clamp( 3.125rem , 0.3590425532rem  +  13.829787234vw , 11.25rem );
    }
}

@supports not ( margin-bottom: clamp( 3.125rem , 0.3590425532rem  +  13.829787234vw , 11.25rem )) {
    .featured-courses {
      margin-bottom: calc(3.125rem + 8.125 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-top: clamp( 0.625rem , 0.1569148936rem  +  2.3404255319vw , 2rem )) {
    .item-featured-courses__body {
      padding-top: clamp( 0.625rem , 0.1569148936rem  +  2.3404255319vw , 2rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.1569148936rem  +  2.3404255319vw , 2rem )) {
    .item-featured-courses__body {
      padding-top: calc(0.625rem + 1.375 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.0066489362rem  +  1.5957446809vw , 1.25rem )) {
    .item-featured-courses__labes:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , -0.0066489362rem  +  1.5957446809vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.0066489362rem  +  1.5957446809vw , 1.25rem )) {
    .item-featured-courses__labes:not(:last-child) {
      margin-bottom: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 58.75);
    }
}

@supports (font-size: clamp( 1rem , 0.914893617rem  +  0.4255319149vw , 1.25rem )) {
    .item-featured-courses__desc {
      font-size: clamp( 1rem , 0.914893617rem  +  0.4255319149vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.914893617rem  +  0.4255319149vw , 1.25rem )) {
    .item-featured-courses__desc {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 58.75);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.0066489362rem  +  1.5957446809vw , 1.25rem )) {
    .item-featured-courses__desc:not(:last-child) {
      margin-bottom: clamp( 0.3125rem , -0.0066489362rem  +  1.5957446809vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.0066489362rem  +  1.5957446809vw , 1.25rem )) {
    .item-featured-courses__desc:not(:last-child) {
      margin-bottom: calc(0.3125rem + 0.9375 * (100vw - 20rem) / 58.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.789893617rem  +  0.4255319149vw , 1.125rem )) {
    .item-featured-courses__price {
      font-size: clamp( 0.875rem , 0.789893617rem  +  0.4255319149vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.789893617rem  +  0.4255319149vw , 1.125rem )) {
    .item-featured-courses__price {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 58.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.789893617rem  +  0.4255319149vw , 1.125rem )) {
    .item-featured-courses__name {
      font-size: clamp( 0.875rem , 0.789893617rem  +  0.4255319149vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.789893617rem  +  0.4255319149vw , 1.125rem )) {
    .item-featured-courses__name {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 58.75);
    }
}
}

@media (min-width: 35em) and (min-width: 20em) and (max-width: 78.75em) {
@supports (padding-top: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem )) {
    .action-header__button {
      padding-top: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem )) {
    .action-header__button {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .action-header__button {
      padding-right: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .action-header__button {
      padding-right: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem )) {
    .action-header__button {
      padding-bottom: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4122340426rem  +  1.0638297872vw , 1.25rem )) {
    .action-header__button {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 58.75);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .action-header__button {
      padding-left: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.8244680851rem  +  2.1276595745vw , 2.5rem )) {
    .action-header__button {
      padding-left: calc(1.25rem + 1.25 * (100vw - 20rem) / 58.75);
    }
}
}

@media (min-width: 35em) and (max-width: 20em) {
  .action-header__button {
    padding-top: 0.625rem;
  }

  .action-header__button {
    padding-right: 1.25rem;
  }

  .action-header__button {
    padding-bottom: 0.625rem;
  }

  .action-header__button {
    padding-left: 1.25rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.2), 0px 12px 10px -6px rgba(255, 63, 58, 0.2), 0px 30px 24px -10px rgba(255, 63, 58, 0.2), 0px 80px 80px -20px rgba(255, 63, 58, 0.2);
            box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.2), 0px 12px 10px -6px rgba(255, 63, 58, 0.2), 0px 30px 24px -10px rgba(255, 63, 58, 0.2), 0px 80px 80px -20px rgba(255, 63, 58, 0.2);
    background: linear-gradient(45deg, #f75e05 100%, #ff3f3a 0%);
  }

  .border-button:hover {
    color: #fff;
    -webkit-box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.2), 0px 12px 10px -6px rgba(255, 63, 58, 0.2), 0px 30px 24px -10px rgba(255, 63, 58, 0.2), 0px 80px 80px -20px rgba(255, 63, 58, 0.2);
            box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.2), 0px 12px 10px -6px rgba(255, 63, 58, 0.2), 0px 30px 24px -10px rgba(255, 63, 58, 0.2), 0px 80px 80px -20px rgba(255, 63, 58, 0.2);
    background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  }

  .menu__link:hover {
    color: #f75e05;
  }

  .menu__link:hover::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .action-header__in:hover {
    color: #ff3f3a;
    text-decoration: underline;
  }

  .action-header__up:hover {
    color: #ff3f3a;
    text-decoration: underline;
  }
}